.dx-slide-toggle-indicator.-left {
  margin: 0 8px 0 0;
}
.dx-slide-toggle-indicator.-right {
  margin: 0 0 0 8px;
}

.dx-slide-toggle-line {
  position: relative;
  width: 36px;
  height: 14px;
  flex-shrink: 0;
  border-radius: 8px;
  transition: all 80ms linear;
  transition-property: background-color;
  transition-delay: 50ms;
}
.dx-slide-toggle-line.-off {
  background-color: rgba(0, 0, 0, 0.3803921569);
}
.dx-slide-toggle-line.-on {
  background-color: rgba(255, 64, 129, 0.5411764706);
}

.dx-slide-toggle-thumb {
  position: absolute;
  height: 20px;
  width: 20px;
  top: -4px;
  border-radius: 50%;
  box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px rgba(0, 0, 0, 0.1411764706), 0 1px 3px rgba(0, 0, 0, 0.1215686275);
  z-index: 1;
  transition: all 80ms linear;
  transition-property: transform;
}
.dx-slide-toggle-thumb.-off {
  background-color: #fafafa;
  transform: translate(calc(20px - 100%), 0);
}
.dx-slide-toggle-thumb.-on {
  background-color: #ff4081;
  transform: translate(100%, 0);
}
.dx-slide-toggle {
  display: inline-flex;
  align-items: center;
  user-select: none;
  cursor: pointer;
}
.dx-slide-toggle.-left {
  flex-direction: row-reverse;
}
.dx-slide-toggle.-right {
  flex-direction: row;
}

.dx-native-checkbox {
  display: none;
}