<!-- Simple example -->
<div class="example">
  <div class="example__title">Simple control example</div>
  <div class="example__control">
    <dx-slide-toggle [value]="!!(value$ | async)"
                     [text]="'Angular simple control'"
                     (valueChanged)="onValueChanged($event)">
    </dx-slide-toggle>
  </div>

  <div class="example__info">
    <button (click)="toggleValueOutside()">
      Toggle
    </button>

    <div>
      App value: {{ value$ | async }}
    </div>
  </div>
</div>

<!-- Form example -->
<div class="example">
  <div class="example__title">
    Form control example
  </div>
  <div class="example__control">
    <form [formGroup]="form">
      <dx-slide-toggle formControlName="toggleControl"
                       [text]="'Angular form control'"
                       [textPosition]="'left'">
      </dx-slide-toggle>
    </form>
  </div>
  <div class="example__info">
    Form value: {{ formValue$ | async | json }}
  </div>
</div>
