@use 'sass:math';
@use 'sass:color';

$base-accent: #337ab7 !default;
$base-text-color: #333 !default;
$base-label-color: $base-text-color !default;
$base-link-color: $base-accent !default;
$base-icon-color: $base-text-color !default;
$base-bg: #fff !default;
$base-border-color: #ddd !default;
$base-element-bg: $base-bg !default;

$radiogroup-checked-bg: $base-accent !default;
$radiogroup-bg: $base-element-bg !default;

$radiogroup-border-color: $base-border-color !default;

$radiobutton-size: 16px !default;
$radiobutton-dot-size: 8px !default;
$radiobutton-ripple-size: 32px !default;

$radiobutton-border-width: 2px;
$radiobutton-inner-size: $radiobutton-size - $radiobutton-border-width * 2;
$radiobutton-ripple-transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);

.dx-radiobutton-icon {
  width: $radiobutton-size;
  height: $radiobutton-size;
  position: relative;

  &::after {
    content: '';
    width: $radiobutton-ripple-size;
    height: $radiobutton-ripple-size;
    top: 50%;
    left: 50%;
    margin-top: math.div(-$radiobutton-ripple-size, 2);
    margin-left: math.div(-$radiobutton-ripple-size, 2);
    border-radius: 50%;
    display: block;
    position: absolute;
    z-index: 1;
    transform: scale(0.5);
    transition: $radiobutton-ripple-transition;
  }

  &::before {
    display: block;
    width: $radiobutton-inner-size;
    height: $radiobutton-inner-size;
    border: $radiobutton-border-width solid $radiogroup-border-color;
    background-color: $radiogroup-bg;
    content: '';
    border-radius: math.div($radiobutton-size, 2);
    box-sizing: content-box;
  }
}

.dx-radiobutton-icon-checked {
  &::before {
    border-color: $radiogroup-checked-bg;
  }

  .dx-radiobutton-icon-dot {
    display: block;
    margin-top: math.div(-$radiobutton-size, 2) -
      math.div($radiobutton-dot-size, 2);
    margin-left: math.div($radiobutton-size, 2) -
      math.div($radiobutton-dot-size, 2);
    width: $radiobutton-dot-size;
    height: $radiobutton-dot-size;
    background: $radiogroup-checked-bg;
    content: '';
    border-radius: math.div($radiobutton-dot-size, 2);
  }
}

.dx-radiobutton {
  line-height: $radiobutton-size;

  &.dx-state-active,
  &.dx-state-focused {
    .dx-radiobutton-icon::after {
      background-color: color.change($base-text-color, $alpha: 0.1);
      transform: scale(1);
    }
  }

  &.dx-radiobutton-checked {
    &.dx-state-active,
    &.dx-state-focused {
      .dx-radiobutton-icon-checked::after {
        background-color: color.change($radiogroup-checked-bg, $alpha: 0.1);
        transform: scale(1);
      }
    }
  }
}

.dx-state-readonly,
.dx-state-disabled {
  .dx-radiobutton-icon-dot {
    background-color: $radiogroup-border-color;
  }

  .dx-radiobutton-icon::before {
    border-color: $radiogroup-border-color;
  }
}
